<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
</head>
<body>

  地址：深圳市福田区深南大道2012号深交所大楼39层

热线：  <%= tel%>

邮箱：<%= mail%>
<p><a href="/">back</a></p>
</body>
</html>
