<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
</head>
<body>
  2014/08/07 在资本界前辈胡继之博士等创始人的倡导和支持下，由前海股权交易中心联合创办前海智媒网络科技有限公司。

2014/08/08 智媒总部进驻深交所39楼正式开业，从此踏上服务4000万家中小企业的征途，在新的万亿级市场中激流勇进、抢占先机。成立一年来，智媒人以亮剑的精神，迅速锻造成为前海创业浪潮中的一支响当当的铁军，创造了速度和成效双奇迹

2014/08/20 在不足一个月的开发时间里，智媒推出了中国第一家资本在线教育网站。

2014/09/26 智媒APP网上资本学院全终端上线，点播、直播、视频通话全功能推出。

2014/10/20 智媒师资团成员突破100名，以深交所讲师团、大型券商高管、大型律所、会计所合伙人，知名风投机构、并购基金合伙人为代表的资本领域实战派专家入驻智媒平台。同时，智媒主导建立的资本人脉社交圈——前海资本联盟正式成立，为中小企业发展注入资本的力量。

2014/11/07 智媒推出中国最前沿、最高规格的并购研修班，其专业性至今仍在业内广为传颂。

2014/11/09 成立第４个月初，智媒估值3000万，为创始轮投资人创造15倍收益。

2014/12/07 智媒在线教育平台精品课程突破2000个，并建立起完善的课程体系，为成为中国资本在线教育第一品牌打下基础，至此，智媒仅用五个月时间完成了线上全终端布局和内容积累，为线下运营，走O2O模式奠定坚实基础。

2015/01/17 智媒开始全国线下布局，以020模式推动线上业务发展。智媒独家推出的中国新四板第一套开创性的服务体系——新四板直通车正式发布，截至目前，全国各地举办新四板直通车对接会500场以上，覆盖企业家超过10万人。

2015/03 智媒第一家分公司在北京成立，截至目前已有13家智媒运营中心，包括广东、北京、西安、成都、福建、新疆、南宁、昆明、河北、合肥、湖南、新加坡、马来西亚。

2015/03/18 智媒主办的前海资本实战训练营正式开学，标志着智媒资本教育进入集大成、做大课的阶段。5天4夜，25位实战派资本专家，为近千名国内外企业家讲授资本智慧，至今已成功举办四期。

2015/05/04 前海智媒作为优秀企业代表应邀参加由中央委员、市委书记马兴瑞主持召开的创业座谈会。

2015/05/16 智媒主办中国新四板第一盛会——新四板与创业创新千企峰会，成功发布中国第一支新四板基金、敲响中国新四板第一钟，39家权威媒体、各地政府、1700名企业家共同见证此次盛会。

2015/06/06《注册制上市预备班》完美结业，首次高水平公开解读注册制。

2015/08/08 成立一周年之际，前海智媒以3个亿估值，收到大型投资机构热捧，并完成A轮融资，为首轮投资人创造150倍回报。由智媒主办的“中国新四板指数发布与资本路演峰会暨 前海智媒周年庆典”在深圳隆重举行，此次峰会涵盖了全国首支“中国新四板潜 力 100 指数”发布仪式、中国新四板研究中心成立仪式、前海新四板·海外板 启动仪式等重要环节。

<p><a href="/">back</a></p>

</body>
</html>
