<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/index.css" media="screen" title="no title">
</head>

<body>
    <div class="container">
      <div class="header">
          <h1>智媒</h1>
      </div>
      <div class="content">
          <a href="/introduce">简介</a>
          <a href="/position">定位</a>
          <a href="/history">历程</a>
          <a href="/Contact_information">联系方式</a>
      </div>
      <div class="footer">
          <h5>智媒热线</h5>
          <span>400 862 9959</span>
      </div>
    </div>
</body>

</html>
