<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
</head>
<body>
  前海智媒网络科技有限公司作为前海股权交易中心的下属公司，是中国新四板第一服务商，中国资本在线教育第一平台。

公司充分发挥“互联网+资本市场+企业教育”的基因优势，为企业提供资本市场教育、新四板服务与上市服务。前海智媒是国有参股、市场化运营的新型资本市场创新平台，依托前海股交中心股东深交所和三大券商（国信、中信、安信证券）的强大资源优势，用资本力量服务实体经济，促进中小企业发展。

前海智媒总部设在深交所运营中心39楼，全国下设14个运营中心，海外两个运营中心，服务已覆盖数十万家中小企业。公司创始人、荣誉董事长胡继之博士是前海股权交易中心董事长，曾任深交所副总经理、国信证券总裁。公司荣誉顾问张亦春教授是中国金融学科终身成就奖得主。公司副总裁吴一超先生曾任职于大连商品交易所、中国证监会、香港商品交易所、资本市场学院。

<p><a href="/">back</a></p>

</body>
</html>
