<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
</head>
<body>
  （1）中国新四板第一服务商，首创场外资本市场服务体系。

中国新四板第一服务商地位奠基

智媒“融智·融情”服务已覆盖企业家数十万人；
举办新四板创业创新千企峰会，成功发布中国第一支新四板基金、敲响中国新四板第一钟，39家媒体、各地政府、1200名企业家共同见证；
举办中国新四板指数发布与资本路演峰会，成功发布“中国新四板潜力100指数”、成立“中国新四板研究中心”、启动“中国新四板·海外板”；
成功推出中国新四板开创性服务体系——新四板直通车，至今全国已成功举办300场以上；
全国布局14家智媒新四板直通车运营中心，包括广东、北京、西安、成都、德州、福建、新疆、南宁、昆明、河北、合肥、湖南和海外地区新加坡及马来西亚。
（2）资本教育：中国首家聚焦于中小企业资本市场在线教育的平台，已成长为中国资本在线教育第一平台，中国中小微企业金融资本知识与技能的科普者。

中国资本在线教育第一平台：智媒资本学院

智媒资本商学院，通过在线教育、线下培训及专家咨询，为中小企业提供从创业到上市、从天使到私募，从场外交易到海外上市等资本市场关键要素的分析和解读，提供企业家研修班、线上课堂、路演、企业定制化培训等模式的资本研习。

中国资本在线教育第一平台的地位奠基

智媒资本商学院APP全终端上线，推出点播、直播、视频通话全功能；
智媒在线教育平台精品课程突破2000个，五个月时间完成线上全终端布局，为线下运营O2O模式奠定基础；
推出智媒资本学院学习卡，52400分钟顶级资本智慧，满足企业家不同学习需求；
智媒专家团成员突破100名，涵盖各个资本领域（包括交易所、国内一线券商、清科50强创投、顶级会计师事务所、律师事务所等）、互联网领域的实战派专家入驻智媒平台；
智媒已成功举办“注册制上市专题班”、“并购重组专题班”等金融资本领域的权威研修班；
作为在线教育线下入口的为期5天4夜的智媒前海资本实战训练营，至今已成功举办四期，其影响力覆盖数千名企业家；

<p><a href="/">back</a></p>

</body>
</html>
